body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
    
}

h1{
    font-size: 50pt;
    display: flex;
    width: auto;
    display: flex;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    line-height: 1.6;
    width: 100%;
}