.card {
  position: relative;
  width: 190px;
  height: 350px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 364px;
  border-radius: 10px;
  background: linear-gradient(-45deg,  #0088ff 0%, #1df2f0 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #0088ff 0%, #1df2f0 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(10px);
}

.heading {
  text-align: left;
  float: left;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  content: "...";
  white-space: wrap;
  height: 200px;
 
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color:  #1df2f0;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(10px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
 


.button-container-card{
  width: 50px;
  display:contents;
  align-items: center;
  justify-content: center;
}
.img-container{

  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  
}
 .country-img{
  width: 190px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
 }

 
 
 .detail-button {
  background-color: transparent;
  font-family: sans-serif;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  height: 30px;
}

.detail-button:hover{
  color: white;
  background-color: transparent;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}
